<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
<<<<<<< HEAD
    <%= render post %>
=======
    <%= post.title %>
>>>>>>> a9546bd (artek_discuss)
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
